{% extends '::base.html.twig' %}

{% block body %}
    <h1>Articles CRUD</h1>

    <tbody>
    {% for articulo in articulos %}

        <tr>
            <th>{{articulo.getTitle}}</th>
        </tr>

    {% endfor %}
    </tbody>
{% endblock %}