.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}

.articulo {
    margin-top: 1em;
    min-height: 100px;
}

.jumbotron {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
}

.input-group {
    margin-top: 30px;
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #616161 !important;
}
.label {
    font-size: 1.5em;
    color: #0f0f0f !important;
}

.circuloNotificacion {
    position: absolute;
    margin-left: 88%;
    width: 2em;
    top: -2.2em;
    height: 2em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f10909;
    /* margin-bottom: -4%; */
    padding-bottom: -1px;
}

.notificacion{
    color: white !important;
    margin-left: 8px;
    font-size: 1.4em !important;
}

.articuloNotificado{
    border: 3px solid red !important;
}

a h1 {
    color: black !important;
}

a p {
    color: black !important;
}
a p :hover {

}
a h1 :hover {

}
